@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.descuentos {
    background: #1CD1B0;
    padding: 10px;
    font-size: 15px;
}

h1 {
    background: #00669F;
    font-weight: 400;
    font-size: 40px;
    padding: 28px;
    margin: 0;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

.cards {
    margin: 150px 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    box-sizing: border-box;
    width: 300px;
    background-color: #F3F3F3;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-head .img-bg {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 300px;
    height: 193px;
    object-fit: cover;
}

.card-head {
    position: relative;
    height: 193px;
}

.card-head .img-perfil {
    width: 120px;
    height: 120px;
    position: absolute;
    border-radius: 50%;
    top: 128px;
    left: 50%;
    transform: translate(-50%, 0);
}

.card-head .img-corazon {
    position: absolute;
    top: 16px;
    left: 21px;
}

.card-body {
    text-align: center;
    padding: 50px 16px 18px 16px;
}

.card-body p {
    text-align: left;
    margin-bottom: 0px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;

}

.card-body h2 {
    font-size: 30px;
}

.card-body a {
    margin-top: 32px;
    margin-bottom: 0px;
    display: inline-block;
    padding: 15px 37px;
    background: #00669F;
    color: #fff;
    text-decoration: none;
}

footer {
    background: #00669F;
    color: #FFF9F9;
    display: flex;
    align-items: center;
    padding: 16px 30px;
}

footer .empty {
    flex: 1;
    max-width: 120px;
}

footer p {
    flex: 1;
    text-align: center;
    padding: 0 10px;
}

footer img {
    max-width: 120px;
    width: 100%;
    height: auto;

}

footer .github-img {
    flex: 1;
    max-width: 120px;
    text-align: right;

}

@media (max-width: 680px) {
    footer {
        flex-direction: column;
    }

    footer .github-img {
        margin: 16px 0;

    }
}